/* HEADER */
.header,
.header-skateboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
}

.header-snowboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #214c5c;
}

#button-logo {
    text-align: center;
    width: 15%;
    margin-bottom: 3em;
    margin-top: 2em;
}

#logo {
    width: 100%;
}


/* MEDIA QUERRIES */

@media screen and (max-width: 1024px) {

    #button-logo {
        width: 30%;
    }
}

@media screen and (max-width: 700px) {

    #button-logo {
        width: 50%;
    }
}
