/* TOGGLE BUTTONS */

.toggle-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.toggle-buttons-container h4 {
    font-size: small;
    margin-bottom: 0.5em;
}

.toggle-button-snow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
    border-radius: 0.5em !important;
    color: white !important;
    height: 5em !important;
}

.toggle-button-skate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
    border-radius: 0.5em !important;
    color: white !important;
    height: 5em !important;
    
}

#image-button-skate { 
    display: block;
    width: 30%;

}

#image-button-snow {
    display: block;
    width: 30%;

}

/*Background color when a button is active*/
.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background-color: rgba(0, 0, 0, 0.133) !important;
}

