/* TOGGLE BUTTONS */

.toggle-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}

.toggle-buttons-container h4 {
    font-size: small;
    margin: 0em;
}

.toggle-button-snow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
    border-radius: 0.5em !important;
    color: white !important;
    height: 5em !important;
}

.toggle-button-skate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
    border-radius: 0.5em !important;
    color: white !important;
    height: 5em !important;
    
}

#image-button-skate { 
    display: block;
    width: 30%;

}

#image-button-snow {
    display: block;
    width: 30%;

}

/*Background color when a button is active*/
.MuiButtonBase-root.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedHorizontal.MuiToggleButton-root.Mui-selected.MuiToggleButton-sizeMedium.MuiToggleButton-primary.toggle-button-skate.MuiToggleButtonGroup-lastButton.css-d9c359-MuiButtonBase-root-MuiToggleButton-root {
    background-color: rgba(0, 0, 0, 0.133) !important;
}

.css-1cmnqml.Mui-selected {
    background-color: rgba(0, 0, 0, 0.133) !important;
}

/*COLLAPSE*/

/*Button*/
.collapse-button {
    background-color: transparent;
    border: none;
    padding: 0em;
    margin: 1em 0 1em 0;
    
}

.collapse-button:hover {
    background-color: transparent;
    
}

.collapse-button:focus {
    background-color: transparent;
}

#collapse-chevron {
    display: block;
}


/*Box*/

.card-body {
    padding: 0px;
    
}

.card.mt-3 {
    margin-top: 1em;
    background: none;
    border: none;
}

.rotate {
    transform: rotate(-180deg); 
    transition: transform 0.3s ease; 
}
