/* HIDE SCROLLBAR FOR ALL NAVIGATORS */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

body {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; 
}

body {
  scrollbar-width: none; 
}

