/*STAR DESIGN*/

.star-rating {
    direction: rtl;
    font-size: 150%;
    position: relative;
    unicode-bidi: bidi-override;
    display: inline-block;

}

.star {
    cursor: pointer;
    color: #897b68;
}

.partial-filled {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    direction: ltr;
    color: #e3e3e3;
}