.favorite-spots {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 3em;
    margin: 10em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff;
}

.favorite-spots h2 {
    color: #214c5c;
    text-align: center;
    margin-bottom: 1em;
}

.favorite-spots ul {
    display: flex;
    flex-direction: grid;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

.spot-item {
    display: flex;
    padding: 1em;
    margin: 0em;
    border: transparent solid 1px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.106);
    max-width: 30%;
}

.spot-item:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.favorite-spots .spot-item:last-child {
    margin-bottom: 0;
}

.spot-image {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 15px;
    object-fit: cover;
}

.spot-info h3 {
    margin: 0;
    color: #214c5c;
}

.spot-info p {
    margin: 5px 0 0;
    font-size: 14px;
}

/* BEGIN: Media Queries */
@media screen and (max-width: 768px) {
    .favorite-spots {
        margin: 5em;
    }
    
    .spot-item {
        margin: 0.5em;
    }
    
    .spot-image {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin-right: 10px;
    }
    
    .spot-info p {
        font-size: 12px;
    }
}
/* END: Media Queries */
