/* SEARCHBAR */

#searchbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5em;
    margin-top: 3em;
    padding-bottom: 2em;
}

.ui.input {
  width: 30%;
}

.ui.input:focus-within {
  color: #897b68 !important;
}

.search-error {
  text-align: center;
  padding: 20px;
  color: #897b68;
}

.search.link.icon::before {
  color: #897b68 !important;
}


/* LOADER */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#loader-message {
  margin-top: 1em;
  color: #897b68;
  font-weight: bold;
}

/* LOADER ANIMATION */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.loader-img {
  animation: rotate 1s linear infinite;
  width: 3em;
}


/* Media Queries */

@media screen and (max-width: 768px) {
  #searchbar-container {
    padding-bottom: 2em;
    margin-top: 2em;
  }

  .ui.input {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  #searchbar-container {
    padding-bottom: 1.5em;
    margin-top: 1.5em;
  }

  .ui.input {
    width: 70%;
  }
}
