/* FOOTER */


footer {

    background-color: #214c5c;
    margin-top: 3em;
    text-align: center;
    padding: 1em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

li {
    text-decoration: none;
    flex: 1;
}

#footer-link {
    color: white;
    gap: 2em;
}

#footer-link:hover {
    
    color: #c4c4c4;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #c4c4c4;
}
