/*COMMENTS SECTION*/

.comments-container {
  width: 100%;
  display: flex;
  flex-direction: column; 

}

#comments-section-title {
  background: #e3e3e3;
  margin: 0;
  padding: 1em 2em 1em 2em;
  border-radius: 0.3em;
  font-size: 1.5em;
  color: #000000;
}


/*COMMENTS LIST*/

.comments-list {

  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comments-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 1em;
  margin-bottom: 0.5em;
  border-radius: 8px;
  border: #214c5c 1px solid;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

.comments-list h3 {
  margin: 0px;
  color: #214c5c;
}

.comments-list p {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0em;
  color: #333;
}

.user-image {
  width: 2em !important;
  height: 2em !important;
  border-radius: 100px;
  margin-right: 0.5em;
  object-fit: cover;
}

/*COMMENTS FORM*/

.comments-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.comments-text-input {
  height: 25em;
  width: 100%;
  border: #c3c3c3 1px solid;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.comments-text-input:active {
  border: #214c5c 1px solid;
}

/*BUTTONS*/


.comments-button-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  width: 40% !important;
}

#button-submit-img {
  width: 1.3em;
  margin-left: 0.5em;
}

#button-cancel-img {
  width: 1.3em;
  margin-left: 0.5em;
}

.comments-button-cancel {
  margin-top: 1em;
  width: 20% !important;
  background-color: #333 !important;
}

.comments-button-cancel:hover {
  background-color: red !important;
}


#comments-submit-title {
  color: #214c5c;
}

/*MODAL*/

