/*TRASH BUTTON*/

.trash-button {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: transparent;
  border:none;
  padding: 0px;
}

.trash-button img {
  width: 80% !important;
}