/* SPOT PAGE */

#spot-details-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#spot-details-container h2 {
  color: #333;
}

#spot-details-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@keyframes stretch {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
  
/* LOADER */

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#loader-message {
  margin-top: 1em;
  color: #214c5c;
  font-weight: bold;
}

/* ANIMATION */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.loader-img {
  animation: rotate 1s linear infinite;
  width: 3em;
}